<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<!--{{ url_for('static',filename='css/main.css')}}"/>-->
<html>
	<head>
		<title>Generic - Editorial by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Editorial</strong> by HTML5 UP</a>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Simulasi</h1>
									</header>

									<span class="image main"><img id="ImgExample" src="{{ url_for('static',filename='images/pic11.jpg')}}" alt="" /></span>

									<form id="uploadform" method="post" enctype="multipart/form-data">
										<input type="file" name="file" accept="image/*" id="inputFile1"><br/><br/>
										<ul class="actions">
											<li><a id="submit" class="button big">Proses Citra</a></li>
										</ul>
									</form>

<!--									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>-->
<!--									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>-->
<!--									<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>-->

									<hr class="major" />

									<h2>Matriks Awal Citra</h2>
									<pre>
										<code id="InitialMatrix">

										</code>
									</pre>

									<hr class="major" />

									<h2 id="Zero">Zero Padding</h2>
									<pre>
										<code id="ZeroPad">

										</code>
										<ul class="actions">
                            				<li><a id="btnConv" class="button">Convolution</a></li>
                        				</ul>
									</pre>
<!--									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>-->
<!--									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>-->

									<hr class="major" />

									<h2>Convolution 7x7 </h2>
									<pre>
										<code id="Conv2D">

										</code>
										<ul class="actions">
                            				<li><a id="btnBN" class="button">Normalization</a></li>
                        				</ul>
									</pre>
<!--									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>-->
<!--									<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>-->
									<hr class="major" />

									<h2 id="Batch">Batch Normalization hasil Convolution 7x7 </h2>
									<pre>
										<code id="BatchNorm">

										</code>
										<ul class="actions">
                            				<li><a id="btnRL" class="button">Aktivasi</a></li>
                        				</ul>
									</pre>

									<hr class="major" />

									<h2 id="ReL">Aktivasi ReLu hasil Batch Normalization </h2>
									<pre>
										<code id="ReLu">

										</code>
										<ul class="actions">
                            				<li><a id="btnMP" class="button">Max Pooling</a></li>
                        				</ul>
									</pre>

									<hr class="major" />

									<h2 id="MaxP">Max Pooling 3x3 </h2>
									<pre>
										<code id="Mp3x3">

										</code>
										<ul class="actions">
                            				<li><a id="btnConv1" class="button">Convolution</a></li>
                        				</ul>
									</pre>

									<hr class="major" />

									<h2 id="Con1">Convolution 1x1 64</h2>
									<pre>
										<code id="Conv1">

										</code>
									</pre>
										<ul class="actions">
                            				<li><a id="btnConv3" class="button">Convolution</a></li>
                        				</ul>

									<hr class="major" />

									<h2 id="Con3">Convolution 3x3 64 </h2>
									<pre>
										<code id="Conv3">

										</code>
										<ul class="actions">
                            				<li><a id="btnConv12" class="button">Convolution</a></li>
                        				</ul>
									</pre>

									<hr class="major" />

									<h2 id="Con12">Convolution 1x1 256 </h2>
									<pre>
										<code id="Conv12">

										</code>
									</pre>
										<ul class="actions">
                            				<li><a id="btnSc" class="button">Shortcut</a></li>
                        				</ul>
									<hr class="major" />

									<h2 id="shortc">Shortcut </h2>
									<pre>
										<code id="sc">

										</code>
										<ul class="actions">
                            				<li><a id="btnak" class="button">Aktivasi</a></li>
                        				</ul>
									</pre>

									<hr class="major" />

									<h2 id="hasil">Hasil Akhir </h2>
									<pre>
										<code id="ak">

										</code>
									</pre>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<li><a href="/simulasi/">Simulasi</a></li>
<!--										<li><a href="elements.html">Elements</a></li>-->
<!--										<li>-->
<!--											<span class="opener">Submenu</span>-->
<!--											<ul>-->
<!--												<li><a href="#">Lorem Dolor</a></li>-->
<!--												<li><a href="#">Ipsum Adipiscing</a></li>-->
<!--												<li><a href="#">Tempus Magna</a></li>-->
<!--												<li><a href="#">Feugiat Veroeros</a></li>-->
<!--											</ul>-->
<!--										</li>-->
<!--										<li><a href="#">Etiam Dolore</a></li>-->
<!--										<li><a href="#">Adipiscing</a></li>-->
<!--										<li>-->
<!--											<span class="opener">Another Submenu</span>-->
<!--											<ul>-->
<!--												<li><a href="#">Lorem Dolor</a></li>-->
<!--												<li><a href="#">Ipsum Adipiscing</a></li>-->
<!--												<li><a href="#">Tempus Magna</a></li>-->
<!--												<li><a href="#">Feugiat Veroeros</a></li>-->
<!--											</ul>-->
<!--										</li>-->
<!--										<li><a href="#">Maximus Erat</a></li>-->
<!--										<li><a href="#">Sapien Mauris</a></li>-->
<!--										<li><a href="#">Amet Lacinia</a></li>-->
									</ul>
								</nav>

							<!-- Section -->
							<section>
								<header class="major">
									<h2>About Us</h2>
								</header>
								<p>Penelitian ini dilakukan oleh </p>
								<p>Jasman Pardede, S.Si, M.T.</p>
								<p>Irma Amelia Dewi, S.Kom, M.T.</p>
								<p>Reza Fadilah Dwiputra</p>
								<p>Dr. Yani Triyani, dr., SpPK., MKes</p>
								<p>More Information: </p>
								<ul class="contact">
									<li class="fa-envelope-o"><a href="#">rezafd23@gmail.co.id</a></li>
									<li class="fa-phone">+6285353444497</li>
									<li class="fa-home">Institut Teknologi Nasional<br/>
										Bandung, Jawa Barat
									</li>
								</ul>
							</section>
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/browser.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static',filename='js/util.js')}}"></script>
			<script src="{{ url_for('static',filename='js/main.js')}}"></script>

	</body>

<script>
	function init() {
        var inputFile = document.getElementById('inputFile1');
        inputFile.addEventListener('change', mostrarImagen, false);
    }
    function mostrarImagen(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = document.getElementById('ImgExample');
            img.src = event.target.result;
        }
        reader.readAsDataURL(file);
    }
    window.addEventListener('load', init, false);

    $(document).ready(function(){
      $('#submit').click(function() {
        event.preventDefault();
        var form_data = new FormData($('#uploadform')[0]);
        $.ajax({
            type: 'POST',
            url: '/Example',
            data: form_data,
            contentType: false,
            processData: false,
            dataType: 'json'
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#ZeroPad").text(data['hasil_ZeroPadding2D']);
            $("#InitialMatrix").text(data['img']);
            $("html, body").animate({ scrollTop: $("#Zero").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    $('#btnConv').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/Conv2D/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#Conv2D").text(data['hasil_Conv2D']);
            $("html, body").animate({ scrollTop: $("#Conv2D").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
     $('#btnBN').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/BatchNorm/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#BatchNorm").text(data['hasil_BatchNorm']);
            $("html, body").animate({ scrollTop: $("#Batch").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    $('#btnRL').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/ReLu/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#ReLu").text(data['hasil_ReLu']);
            $("html, body").animate({ scrollTop: $("#ReL").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    $('#btnMP').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/MaxPool/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#Mp3x3").text(data['hasil_MaxPool']);
            $("html, body").animate({ scrollTop: $("#MaxP").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    $('#btnConv1').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/Conv1/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#Conv1").text(data['hasil_Conv1']);
            $("html, body").animate({ scrollTop: $("#Con1").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    $('#btnConv3').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/Conv3/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#Conv3").text(data['hasil_Conv3']);
            $("html, body").animate({ scrollTop: $("#Con3").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    $('#btnConv12').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/Conv12/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#Conv12").text(data['hasil_Conv12']);
            $("html, body").animate({ scrollTop: $("#Con12").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    $('#btnSc').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/Shortcut/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#sc").text(data['hasil_sc']);
            $("html, body").animate({ scrollTop: $("#shortc").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    $('#btnak').click(function() {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/Example/Akhir/',
            processData: false
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#ak").text(data['hasil_ak']);
            $("html, body").animate({ scrollTop: $("#hasil").offset().top});
        }).fail(function(data){
            alert('error!');
        });
    });
    });
</script>
</html>

