<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<style>
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #F56A6A;
}
</style>
<head>
    <title>Implementasi Object Detection </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <a href="index.html" class="logo"><strong>A-MaD </strong>(Automated Malaria Diagnosis)</a>
                <!--									<ul class="icons">-->
                <!--										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
                <!--										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
                <!--										<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>-->
                <!--										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
                <!--										<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>-->
                <!--									</ul>-->
            </header>

             <section id="banner">
                <div class="content">
                    <header>
                        <h1>Pilih Citra Uji<br/>
                            <!--											by HTML5 UP</h1>-->
                            <!--											<p>A free and fully responsive site template</p>-->
                    </header>
                    <form id="uploadform" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" accept="image/*" id="inputFile1"><br/><br/>
                        <!--              								<button type="button" id="submit" class="btn btn-form">Prose by HTML5 UPs Citra</button>-->
                        <ul class="actions">
                            <li><a id="submit" class="button big">Proses Citra</a></li>
                        </ul>
<!--                         <ul class="actions">-->
<!--                            <li><a id="submit2" class="button big">Proses Citra()</a></li>-->
<!--                        </ul>-->
<!--                       <div id="myProgress">-->
<!--                           <div id="myBar"></div>-->
<!--                       </div>-->
                    </form>
                    <!--										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>-->
                    <!--										<ul class="actions">-->
                    <!--											<li><a href="#" class="button big">Learn More</a></li>-->
                    <!--										</ul>-->
                </div>
                <span class="image object">
                    <img id="imagen" src="{{ url_for('static',filename='images/pic10.jpg')}}" alt=""/>
                </span>
            </section>

<!--            Process-->
            <section>
                <header class="major">
                    <h2>Hasil Proses</h2>
                </header>
                <div class="posts">
                    <article>
                        <center><h3>*Menggunakan Backend ResNet101</h3></center>
                    </article>
                    <article>
                        <center><h3>*Menggunakan Backend ResNet50</h3></center>
                    </article>
                    <article>
                        <a href="#" class="image"><img id="ImgPreprocessing" src="{{ url_for('static',filename='images/pic01.jpg')}}" alt=""/></a>
                        <h3>Preprocessing</h3>
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
                        <ul class="actions">
                            <li><a id="btnPreprocessing" href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img id="ImgPreprocessing2" src="{{ url_for('static',filename='images/pic02.jpg')}}" alt=""/></a>
                        <h3>Preprocessing</h3>
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
                        <ul class="actions">
                            <li><a id="btnPreprocessing2" href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img id="ImgFPN1" src="{{ url_for('static',filename='images/pic03.jpg')}}" alt=""/></a>
                        <h3>Hasil FPN</h3>
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
                        <ul class="actions">
                            <li><a id="btnFPN1" href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img id="ImgFPN2" src="{{ url_for('static',filename='images/pic04.jpg')}}" alt=""/></a>
                        <h3>Hasil FPN</h3>
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
                        <ul class="actions">
                            <li><a id="btnFPN2" href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img id="ImgTresh1" src="{{ url_for('static',filename='images/pic05.jpg')}}" alt=""/></a>
                        <h3>Hasil Regresi Box </h3>
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
                        <ul class="actions">
                            <li><a id="btnTresh1" href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img id="ImgTresh2" src="{{ url_for('static',filename='images/pic06.jpg')}}" alt=""/></a>
                        <h3>Hasil Regresi Box </h3>
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
                        <ul class="actions">
                            <li><a id="btnTresh2" href="#" class="button">More</a></li>
                        </ul>
                    </article>
                    <article>
                        <a href="#" class="image"><img id="ImgKlasifikasi1" src="{{ url_for('static',filename='images/pic05.jpg')}}" alt=""/></a>
                        <h3>Hasil Klasifikasi </h3>
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
                        <ul class="actions">
                            <li><a id="btnHasil1" href="#" class="button">More</a></li>
                        </ul>
                         <h2>Hasil Identifikasi :</h2>
                          <table style="margin: 8px 0px 0px;" border="1">
                        <tbody>
                        <tr>
                            <td>Eritrosit Normal</td>
                            <td id="EritNormal"></td>
                        </tr>
                        <tr>
                            <td>Eritrsotit Terinfeksi</td>
                            <td id="EritInfek"></td>
                        </tr>
                        <tr>
                            <td>Indeks Parasit</td>
                            <td id="IndexVal"></td>
                        </tr>
                        </tbody>
                    </table>
                        <br>
                        <h3>Diagnosis: <h3 id="Diagnosis1"></h3> </h3>
                    </article>
                    <article>
                        <a href="#" class="image"><img id="ImgKlasifikasi2" src="{{ url_for('static',filename='images/pic06.jpg')}}" alt=""/></a>
                        <h3>Hasil Klasifikasi </h3>
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
                        <ul class="actions">
                            <li><a id="btnHasil2" href="#" class="button">More</a></li>
                        </ul>
                        <h2>Hasil Identifikasi :</h2>
                          <table style="margin: 8px 0px 0px;" border="1">
                        <tbody>
                        <tr>
                            <td>Eritrosit Normal</td>
                            <td id="EritNormal2"></td>
                        </tr>
                        <tr>
                            <td>Eritrsotit Terinfeksi</td>
                            <td id="EritInfek2"></td>
                        </tr>
                        <tr>
                            <td>Indeks Parasit</td>
                            <td id="IndexVal2"></td>
                        </tr>
                        </tbody>
                    </table>
                          <br>
                        <h3>Diagnosis: <h3 id="Diagnosis2"></h3> </h3>
                    </article>
                </div>
            </section>

            <!--result-->
<!--            <section id="banner">-->
<!--                <div class="content">-->
<!--                    &lt;!&ndash;										<img src="{{ url_for('static',filename='images/pic10.jpg')}}" alt="" width="400" />&ndash;&gt;-->
<!--                    <header>-->
<!--                        <h1>Hasil Identifikasi : <br/>-->
<!--                            <label id="Diagnosis"></label>-->
<!--                        </h1>-->
<!--                    </header>-->
<!--&lt;!&ndash;                    <table style="margin: 8px 0px 0px;" border="1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td>Eritrosit Normal</td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td id="EritNormal"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td>Eritrsotit Terinfeksi</td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td id="EritInfek"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td>Indeks Parasit</td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td id="IndexVal"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                    </table>&ndash;&gt;-->
<!--                    &lt;!&ndash;											</h1>&ndash;&gt;-->
<!--                    &lt;!&ndash;											<p>A free and fully responsive site template</p>&ndash;&gt;-->
<!--                    &lt;!&ndash;										</header>&ndash;&gt;-->
<!--                    &lt;!&ndash;										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>&ndash;&gt;-->
<!--                    &lt;!&ndash;										<ul class="actions">&ndash;&gt;-->
<!--                    &lt;!&ndash;											<li><a href="#" class="button big">Learn More</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;										</ul>&ndash;&gt;-->
<!--                </div>-->
<!--                <span class="image object">-->
<!--                    <img id="imageresult" src="{{ url_for('static',filename='images/pic10.jpg')}}" alt=""/>-->
<!--                </span>-->
<!--            </section>-->

            <!-- Section -->
<!--            <section>-->
<!--                <header class="major">-->
<!--                    <h2>Erat lacinia</h2>-->
<!--                </header>-->
<!--                <div class="features">-->
<!--                    <article>-->
<!--                        <span class="icon fa-diamond"></span>-->
<!--                        <div class="content">-->
<!--                            <h3>Portitor ullamcorper</h3>-->
<!--                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam-->
<!--                                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <span class="icon fa-paper-plane"></span>-->
<!--                        <div class="content">-->
<!--                            <h3>Sapien veroeros</h3>-->
<!--                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam-->
<!--                                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <span class="icon fa-rocket"></span>-->
<!--                        <div class="content">-->
<!--                            <h3>Quam lorem ipsum</h3>-->
<!--                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam-->
<!--                                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <span class="icon fa-signal"></span>-->
<!--                        <div class="content">-->
<!--                            <h3>Sed magna finibus</h3>-->
<!--                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam-->
<!--                                facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
<!--            </section>-->

            <!-- Section -->
<!--            <section>-->
<!--                <header class="major">-->
<!--                    <h2>Ipsum sed dolor</h2>-->
<!--                </header>-->
<!--                <div class="posts">-->
<!--                    <article>-->
<!--                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/pic01.jpg')}}" alt=""/></a>-->
<!--                        <h3>Interdum aenean</h3>-->
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        <ul class="actions">-->
<!--                            <li><a href="#" class="button">More</a></li>-->
<!--                        </ul>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/pic02.jpg')}}" alt=""/></a>-->
<!--                        <h3>Nulla amet dolore</h3>-->
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        <ul class="actions">-->
<!--                            <li><a href="#" class="button">More</a></li>-->
<!--                        </ul>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/pic03.jpg')}}" alt=""/></a>-->
<!--                        <h3>Tempus ullamcorper</h3>-->
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        <ul class="actions">-->
<!--                            <li><a href="#" class="button">More</a></li>-->
<!--                        </ul>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/pic04.jpg')}}" alt=""/></a>-->
<!--                        <h3>Sed etiam facilis</h3>-->
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        <ul class="actions">-->
<!--                            <li><a href="#" class="button">More</a></li>-->
<!--                        </ul>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/pic05.jpg')}}" alt=""/></a>-->
<!--                        <h3>Feugiat lorem aenean</h3>-->
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        <ul class="actions">-->
<!--                            <li><a href="#" class="button">More</a></li>-->
<!--                        </ul>-->
<!--                    </article>-->
<!--                    <article>-->
<!--                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/pic06.jpg')}}" alt=""/></a>-->
<!--                        <h3>Amet varius aliquam</h3>-->
<!--                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis-->
<!--                            ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>-->
<!--                        <ul class="actions">-->
<!--                            <li><a href="#" class="button">More</a></li>-->
<!--                        </ul>-->
<!--                    </article>-->
<!--                </div>-->
<!--            </section>-->

        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <section id="search" class="alt">
                <form method="post" action="#">
                    <input type="text" name="query" id="query" placeholder="Search"/>
                </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="/">Homepage</a></li>
<!--                    <li><a href="generic.html">Hasil Uji</a></li>-->
                    <li><a href="/simulasi" id="btnSimulasi">Simulasi Perhitungan</a></li>
                    <!--										<li><a href="elements.html">Elements</a></li>-->
                    <!--										<li>-->
                    <!--											<span class="opener">Submenu</span>-->
                    <!--											<ul>-->
                    <!--												<li><a href="#">Lorem Dolor</a></li>-->
                    <!--												<li><a href="#">Ipsum Adipiscing</a></li>-->
                    <!--												<li><a href="#">Tempus Magna</a></li>-->
                    <!--												<li><a href="#">Feugiat Veroeros</a></li>-->
                    <!--											</ul>-->
                    <!--										</li>-->
                    <!--										<li><a href="#">Etiam Dolore</a></li>-->
                    <!--										<li><a href="#">Adipiscing</a></li>-->
                    <!--										<li>-->
                    <!--											<span class="opener">Another Submenu</span>-->
                    <!--											<ul>-->
                    <!--												<li><a href="#">Lorem Dolor</a></li>-->
                    <!--												<li><a href="#">Ipsum Adipiscing</a></li>-->
                    <!--												<li><a href="#">Tempus Magna</a></li>-->
                    <!--												<li><a href="#">Feugiat Veroeros</a></li>-->
                    <!--											</ul>-->
                    <!--										</li>-->
                    <!--										<li><a href="#">Maximus Erat</a></li>-->
                    <!--										<li><a href="#">Sapien Mauris</a></li>-->
                    <!--										<li><a href="#">Amet Lacinia</a></li>-->
                </ul>
            </nav>

            <!-- Section -->
            <!--								<section>-->
            <!--									<header class="major">-->
            <!--										<h2>Ante interdum</h2>-->
            <!--									</header>-->
            <!--									<div class="mini-posts">-->
            <!--										<article>-->
            <!--											<a href="#" class="image"><img src="{{ url_for('static',filename='images/pic07.jpg')}}" alt="" /></a>-->
            <!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
            <!--										</article>-->
            <!--										<article>-->
            <!--											<a href="#" class="image"><img src="{{ url_for('static',filename='images/pic08.jpg')}}" alt="" /></a>-->
            <!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
            <!--										</article>-->
            <!--										<article>-->
            <!--											<a href="#" class="image"><img src="{{ url_for('static',filename='images/pic09.jpg')}}" alt="" /></a>-->
            <!--											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
            <!--										</article>-->
            <!--									</div>-->
            <!--									<ul class="actions">-->
            <!--										<li><a href="#" class="button">More</a></li>-->
            <!--									</ul>-->
            <!--								</section>-->

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>About Us</h2>
                </header>
                <p>Penelitian ini dilakukan oleh </p>
                <p>Jasman Pardede, S.Si, M.T.</p>
                <p>Irma Amelia Dewi, S.Kom, M.T.</p>
                <p>Reza Fadilah Dwiputra</p>
                <p>Dr. Yani Triyani, dr., SpPK., MKes</p>
                <p>More Information: </p>
                <ul class="contact">
                    <li class="fa-envelope-o"><a href="#">rezafd23@gmail.co.id</a></li>
                    <li class="fa-phone">+6285353444497</li>
                    <li class="fa-home">Institut Teknologi Nasional<br/>
                        Bandung, Jawa Barat
                    </li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Reza Fadilah D. All rights reserved.
                    Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

        </div>
    </div>

</div>

<!-- Scripts -->
<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/browser.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/breakpoints.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/util.js')}}"></script>
<script src="{{ url_for('static',filename='js/main.js')}}"></script>

<script>
    function init() {
        var inputFile = document.getElementById('inputFile1');
        inputFile.addEventListener('change', mostrarImagen, false);
    }
    function mostrarImagen(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function (event) {
            var img = document.getElementById('imagen');
            img.src = event.target.result;
        //    img.width = 500;
          //  img.height = 500;
        }
        reader.readAsDataURL(file);
    }
    window.addEventListener('load', init, false);

    $(document).ready(function(){
      $('#submit').click(function() {
        event.preventDefault();
        var form_data = new FormData($('#uploadform')[0]);
        $.ajax({
            type: 'POST',
            url: '/upload',
            data: form_data,
            contentType: false,
            processData: false,
            dataType: 'json'
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#EritNormal").text(data['EritNormal']);
            $("#EritInfek").text(data['EritInfek']);
            $("#IndexVal").text(data['IndexVal']);
            $("#Diagnosis1").text(data['Diagnosis']);
            $("#EritNormal2").text(data['EritNormal2']);
            $("#EritInfek2").text(data['EritInfek2']);
            $("#IndexVal2").text(data['IndexVal2']);
            $("#Diagnosis2").text(data['Diagnosis2']);
            $('#imageresult').attr('src',data['Name']);
            $('#ImgPreprocessing').attr('src',data['Preprocessing']);
            $('#ImgPreprocessing2').attr('src',data['Preprocessing']);
            $('#ImgFPN1').attr('src',data['Drawbox']);
            $('#ImgFPN2').attr('src',data['Drawbox2']);
            $('#ImgTresh1').attr('src',data['Treshold']);
            $('#ImgTresh2').attr('src',data['Treshold2']);
            $('#ImgKlasifikasi1').attr('src',data['Name']);
            $('#ImgKlasifikasi2').attr('src',data['Name2']);
            $('#ImgPreprocessing').attr('href',data['Preprocessing']);
            $('#ImgPreprocessing2').attr('href',data['Preprocessing']);
            $('#ImgFPN1').attr('href',data['Drawbox']);
            $('#ImgFPN2').attr('href',data['Drawbox2']);
            $('#ImgTresh1').attr('href',data['Treshold']);
            $('#ImgTresh2').attr('href',data['Treshold2']);
            $('#ImgKlasifikasi1').attr('src',data['Name']);
            $('#ImgKlasifikasi2').attr('src',data['Name2']);
            $('#btnPreprocessing').attr('href',data['Preprocessing']);
            $('#btnPreprocessing2').attr('href',data['Preprocessing']);
            $('#btnFPN1').attr('href',data['Drawbox']);
            $('#btnTresh1').attr('href',data['Treshold']);
            $('#btnHasil1').attr('href',data['Name']);
            $('#btnFPN2').attr('href',data['Drawbox2']);
            $('#btnTresh2').attr('href',data['Treshold2']);
            $('#btnHasil2').attr('href',data['Name2']);
            //$("#EritNormal_50").text(data['EritNormal_50']);
            //$("#EritInfek_50").text(data['EritInfek_50']);
            //$("#IndexVal_50").text(data['IndexVal_50']);
            //$("#Diagnosis_50").text(data['Diagnosis_50']);
            //$("#EritNormal2_50").text(data['EritNormal2_50']);
            //$("#EritInfek2_50").text(data['EritInfek2_50']);
            //$("#IndexVal2_50").text(data['IndexVal2_50']);
            //$("#Diagnosis2_50").text(data['Diagnosis2_50']);
            //$('#imageresult_50').attr('src',data['Name_50'])
            //$('#ImgPreprocessing_50').attr('src',data['Preprocessing_50'])
            //$('#ImgNonPreprocessing_50').attr('src',data['OriginalFile'])
            //$('#ImgFPN1_50').attr('src',data['Drawbox_50'])
            //$('#ImgFPN2_50').attr('src',data['Drawbox2_50'])
            //$('#ImgTresh1_50').attr('src',data['Treshold_50'])
            ////$('#ImgTresh2_50').attr('src',data['Treshold2_50'])
            //$('#ImgKlasifikasi1_50').attr('src',data['Name_50'])
            //$('#ImgKlasifikasi2_50').attr('src',data['Name2_50'])
            //$("html, body").animate({ scrollTop: $("#EritNormal2").offset().top});
                    $.ajax({
            type: 'POST',
            url: '/upload',
            data: form_data,
            contentType: false,
            processData: false,
            dataType: 'json'
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
            $("#EritNormal").text(data['EritNormal']);
            $("#EritInfek").text(data['EritInfek']);
            $("#IndexVal").text(data['IndexVal']);
            $("#Diagnosis1").text(data['Diagnosis']);
            $("#EritNormal2").text(data['EritNormal2']);
            $("#EritInfek2").text(data['EritInfek2']);
            $("#IndexVal2").text(data['IndexVal2']);
            $("#Diagnosis2").text(data['Diagnosis2']);
            $('#imageresult').attr('src',data['Name']);
            $('#ImgPreprocessing').attr('src',data['Preprocessing']);
            $('#ImgPreprocessing2').attr('src',data['Preprocessing']);
            $('#ImgFPN1').attr('src',data['Drawbox']);
            $('#ImgFPN2').attr('src',data['Drawbox2']);
            $('#ImgTresh1').attr('src',data['Treshold']);
            $('#ImgTresh2').attr('src',data['Treshold2']);
            $('#ImgKlasifikasi1').attr('src',data['Name']);
            $('#ImgKlasifikasi2').attr('src',data['Name2']);
            $('#ImgPreprocessing').attr('href',data['Preprocessing']);
            $('#ImgPreprocessing2').attr('href',data['Preprocessing']);
            $('#ImgFPN1').attr('href',data['Drawbox']);
            $('#ImgFPN2').attr('href',data['Drawbox2']);
            $('#ImgTresh1').attr('href',data['Treshold']);
            $('#ImgTresh2').attr('href',data['Treshold2']);
            $('#ImgKlasifikasi1').attr('src',data['Name']);
            $('#ImgKlasifikasi2').attr('src',data['Name2']);
            $('#btnPreprocessing').attr('href',data['Preprocessing']);
            $('#btnPreprocessing2').attr('href',data['Preprocessing']);
            $('#btnFPN1').attr('href',data['Drawbox']);
            $('#btnTresh1').attr('href',data['Treshold']);
            $('#btnHasil1').attr('href',data['Name']);
            $('#btnFPN2').attr('href',data['Drawbox2']);
            $('#btnTresh2').attr('href',data['Treshold2']);
            $('#btnHasil2').attr('href',data['Name2']);
            //$("#EritNormal_50").text(data['EritNormal_50']);
            //$("#EritInfek_50").text(data['EritInfek_50']);
            //$("#IndexVal_50").text(data['IndexVal_50']);
            //$("#Diagnosis_50").text(data['Diagnosis_50']);
            //$("#EritNormal2_50").text(data['EritNormal2_50']);
            //$("#EritInfek2_50").text(data['EritInfek2_50']);
            //$("#IndexVal2_50").text(data['IndexVal2_50']);
            //$("#Diagnosis2_50").text(data['Diagnosis2_50']);
            //$('#imageresult_50').attr('src',data['Name_50'])
            //$('#ImgPreprocessing_50').attr('src',data['Preprocessing_50'])
            //$('#ImgNonPreprocessing_50').attr('src',data['OriginalFile'])
            //$('#ImgFPN1_50').attr('src',data['Drawbox_50'])
            //$('#ImgFPN2_50').attr('src',data['Drawbox2_50'])
            //$('#ImgTresh1_50').attr('src',data['Treshold_50'])
            ////$('#ImgTresh2_50').attr('src',data['Treshold2_50'])
            //$('#ImgKlasifikasi1_50').attr('src',data['Name_50'])
            //$('#ImgKlasifikasi2_50').attr('src',data['Name2_50'])
            //$("html, body").animate({ scrollTop: $("#EritNormal2").offset().top});
            window.open("http://192.168.1.138:5000/led2/on");
        }).fail(function(data){
            alert('error!');
        });
        }).fail(function(data){
            alert('error!');
        });
    });
    });



</script>

<!--export FLASK_APP=app.py-->
<!--python -m flask run-->
</body>
</html>